.h3, h3 {
    font-family: "Cormorant Garamond" !important, serif !important; 
    margin-left: 50px; 
    margin-right: 50px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	font-family: "Cormorant Garamond", serif !important;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
