
#tablahitos th {
	text-align: center;
	border: black 1px solid;
}
#tablahitos td{
	height: 100px;
	width: 100px;
	border: black 1px solid;
	
}
#tablahitos{
	border: black 1px solid;
}
tr:nth-child(even){
   background: #FBEFEF;
}
tr:nth-child(odd){
   background: #F8E0E0;
}
