/*color para la barra de menu completa*/
nav.navbar{
	background-color: #ffa09a;
}

/*Estilo para la barra que contiene el texto de menu, para que aparezca alineada en el centro*/
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
a{
	color: #B1251E;
}



